﻿.et {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 3px;
    border: 1px solid #2b2b2b;
}

.main-content {
    display: block;
    position: relative;
    border: 0;
    outline: none;
}

.controls, .controls2 {
    display: inline;
    height: 50px;
    text-align: center;
    align-items: center;
}

.text-block, .controls, .controls2 {
    overflow: hidden;
    width: 1110px;
    white-space: nowrap;
}

.text-input, .text-output {
    width: 49%;
    height: 99%;
    display: inline-block;
    margin-top: 10px;
}

.input-text-out, .input-text-in {
    vertical-align: middle;
    height: 310px;
    resize: none;
}

.text-output {
    vertical-align: top;
}

.cipher-choose, .file-upload {
    width: 45%;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
}

.file-download, .key-select {
    width: 49%;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
}

.cipher-selector {
    margin-left: 5px;
}

.uploader {
    margin-right: 12px;
    text-align: left;
    padding: 15px 15px 30px;
}

.switcher {
    width: 10%;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    margin-top: 24px;
}

.welcoming-text {
    height: 84px;
}

.submitting {
    width: 40%;
    vertical-align: middle;
    align-content: center;
}
