﻿@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<body>
    <div class="content">
        <h4>Why did I do this page?</h4>
        <div class="paragraph">
            <p>
                I wanted my app look not that boring, so here I am going to make it even worse... However, I don't really care.
                To be honest, this place is created to express my gratitude for this course. I never thought I could love C# that much.
                I also never thought I could find such a talanted instructor. This time I spent on course helped me to rethink everything
                (especially, programming). I would be really happy to continue studying and working hard to succeed. Thank you!
            </p>
        </div>

        <div class="image">
            <img src="https://pngimg.com/uploads/thank_you/thank_you_PNG66.png" alt="Thank you!" width="400" height="400"  />
        </div>
    </div>
</body>


<style>
    .paragraph {
        width: 45%;
    }

    .content {
        display:inline-block;
    }

    .image {
        margin-top: 120px;
        margin-left: 700px;
    }
</style>