﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="welcoming-text">
        <h1 class="display-6" id="welcome">
            Vigenere<br /><big>cipher</big>
        </h1>
        <h1 class="display-6" id="byWhom">
            By Evgenii<br /><big>Dolgosheev</big>
            <script language="javascript">
                setTimeout(fade_out_in);

                function fade_out_in() {
                    $("#byWhom").hide();
                    $("#welcome").delay(2300).fadeOut(700);
                    $("#byWhom").delay(3000).fadeIn(700);
                }
            </script>
        </h1>
    </div>

    <div>
        <form asp-controller="Crypto" asp-action="Crypto">
            <div class="drop-menu block">
                <select name="isEncrypting" class="custom-select block">
                    <option value="enc">Encrypt</option>
                    <option value="dec">Decrypt</option>
                </select>
            </div>

            <div class="form-group block">
                <input type="text" class="form-control" name="key" placeholder="Enter key here" id="inputDefault">
            </div>

            <div class="block form-group">
                <textarea class="form-control form-control-lg input-text-in text-flexable text-box" name="text"
                          oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                          placeholder="Enter text here" id="inputLarge" rows="3"></textarea>
            </div>

            <div class="submitting-box">
                <button type="submit" id="submit-btn" class="submitting block btn btn-lg btn-primary bg-primary">Submit!</button>
            </div>
        </form>
    </div>
</div>

<style>
    .block {
        box-sizing: border-box;
        display: block;
        max-width: 100%;
        line-height: 1.5;
        border-radius: 3px;
        border: 1px solid #2b2b2b;
    }

    .drop-menu {
        width: 20%;
        vertical-align: middle;
        text-align:center;
        margin: auto;
        margin-bottom: 14px;
    }

    .text-box {
        resize: none;
    }

    .submitting-box {
        display: block;
    }

    .submitting {
        width: 40%;
        vertical-align: middle;
        margin: auto;
    }
</style>