﻿@using Vigenere_Cipher_ASPNET.ViewModels;
@model VigenereViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="welcoming-text">
        <h1 class="display-6" id="welcome">
            Vigenere<br /><big>cipher</big>
        </h1>
        <h1 class="display-6" id="byWhom">
            By Evgenii<br /><big>Dolgosheev</big>
            <script language="javascript">
                setTimeout(fade_out_in);

                function fade_out_in() {
                    $("#byWhom").hide();
                    $("#welcome").delay(2300).fadeOut(700);
                    $("#byWhom").delay(3000).fadeIn(700);
                }
            </script>
        </h1>
    </div>

    <div class="main-content">
        <div class="controls">
            <div class="form-group cipher-choose">
                <form class="all-forms-post" id="form-ciphername" name="key" method="post">
                    <select name="ciphername" class="custom-select et cipher-selector">
                        <option selected="" value=null>Choose the Cipher</option>
                        <option value="vigenere">Vigenere</option>
                    </select>
                </form>
            </div>

            <div class="form-group switcher">
                <div class="custom-control custom-switch">
                    <form class="all-forms-post" id="form-switcher" method="post">
                        <input type="checkbox" name="encode_decode" asp-controller="Crypto" asp-action="isEncrypting" class="custom-control-input input-switchbox" id="customSwitch1" checked="">

                        <label class="custom-control-label" for="customSwitch1">
                            Dec/Enc
                        </label>
                    </form>
                </div>
            </div>

            <div class="form-group file-upload">
                <div class="input-group mb-3">
                    <div class="custom-file et uploader">
                        <form class="all-forms-post" method="post" enctype="text/plain">
                            <input type="file" accept="text/plain" class="custom-file-input" id="inputGroupFile02" />
                            <label class="custom-file-label" for="inputGroupFile02">Upload file</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="controls2">
            <div class="key-select et">
                <div class="form-group">
                    <form class="all-forms-post" id="form-key-selector" asp-controller="Crypto" asp-action="Key" method="post">
                        <input type="text" class="form-control" placeholder="Enter key here" id="inputDefault">
                    </form>
                </div>
            </div>

            <div class="file-download et">
                <form method="get" action="file.doc">
                    <a role="button" class="btn btn-secondary btn-block bg-secondary" download="C:\Users\User\Desktop\Result_v5.txt">Download result</a>
                </form>
            </div>
        </div>

        <div class="form-group text-block">
            <div class="text-input">
                <form class="all-forms-post" id="form-text-input" asp-controller="Crypto" asp-action="Text" method="post">
                    <textarea class="form-control form-control-lg input-text-in et text-flexable"
                              oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                              placeholder="Enter text here or upload a file above" id="inputLarge" rows="3"></textarea>
                </form>
            </div>

            <div class="text-output">
                <form method="get">
                    <textarea class="form-control form-control-lg input-text-out et text-flexable"
                              oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                              id="readOnlyInput" rows="3" readonly="readonly" placeholder="Output..."></textarea>
                </form>
            </div>
        </div>
        <div class="submitting-box">
            <button type="submit" id="all-forms-submit" action="/Crypto/Index/" onclick="SubmitForms()" class="btn submitting et btn-lg btn-primary bg-primary">Submit!</button>

            <script>
                SubmitForms = function () {
                    document.getElementById("form-text-input").submit();
                    document.getElementById("form-key-selector").submit();
                    document.getElementById("form-switcher").submit();
                    document.getElementById("form-ciphername").submit();
                }
            </script>
        </div>
    </div>

    <style>
        .et {
            box-sizing: border-box;
            display: block;
            max-width: 100%;
            line-height: 1.5;
            border-radius: 3px;
            border: 1px solid #2b2b2b;
        }

        .main-content {
            display: block;
            position: relative;
            border: 0;
            outline: none;
        }

        .controls, .controls2 {
            display: inline;
            height: 50px;
            text-align: center;
            align-items: center;
        }

        .text-block, .controls, .controls2 {
            overflow: hidden;
            width: 1110px;
            white-space: nowrap;
        }

        .text-input, .text-output {
            width: 49%;
            height: 99%;
            display: inline-block;
            margin-top: 10px;
        }

        .input-text-out, .input-text-in {
            vertical-align: middle;
            height: 310px;
            resize: none;
        }

        .text-output {
            vertical-align: top;
        }

        .cipher-choose, .file-upload {
            width: 45%;
            display: inline-block;
            height: 50px;
            vertical-align: middle;
        }

        .file-download, .key-select {
            width: 49%;
            display: inline-block;
            height: 50px;
            vertical-align: middle;
        }

        .cipher-selector {
            margin-left: 5px;
        }

        .uploader {
            margin-right: 12px;
            text-align: left;
            padding: 15px 15px 30px;
        }

        .switcher {
            width: 10%;
            display: inline-block;
            height: 50px;
            vertical-align: middle;
            margin-top: 24px;
        }

        .welcoming-text {
            height: 84px;
        }

        .submitting-box {
            display: block;
        }

        .submitting {
            width: 40%;
            vertical-align: middle;
            margin: auto;
        }
    </style>

</div>
