﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="content">
    <div id="part1">
        <h2>My life.</h2>
    </div>
    <div id="part2">
        <h2>My <a class="text-primary" style="text-decoration:none" href="https://www.meme-arsenal.com/memes/6738e65e401c23f02d5e95c205f88979.jpg">rules</a>.</h2>
    </div>
</div>

<script>
    setTimeout(mlmr);

    function mlmr() {
        $('#part1').hide();
        $('#part2').hide();

        $('#part1').fadeIn(6000);
        $('#part2').delay(2000).fadeIn(6000);

    }
</script>

<style>
    .content {
        margin-top: 70px;
        margin-left: 50px;
    }

    #part2 {
        margin-left: 40px;
    }
</style>