﻿@using Vigenere_Cipher_ASPNET.ViewModels;
@model VigenereViewModel;

@{
    ViewData["Title"] = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Result</h1>
<blockquote class="blockquote">
    <p class="mb-0">
        @if (Model.isEncrypting)
        {
            @Model.EncryptedText
        }
        else
        {
            @Model.DecryptedText
        }
    </p>
    <footer class="blockquote-footer" id="download-btn-footer">
        <div class="file-download" id="download-btn">
            <form method="get" asp-controller="Crypto" asp-action="DownloadFile">
                <a role="button" class="btn block btn-download btn-primary btn-block bg-primary" onclick="ShowCard()">Download</a>
            </form>
            <script>
                setTimeout(pop_out);

                function pop_out() {
                    $("#card").hide();
                    $("#download-btn-footer").hide();
                    $("#download-btn-footer").delay(1000).fadeIn(2000);
                }
            </script>
        </div>
    </footer>
</blockquote>

<div class="card text-white bg-primary mb-3 block" id="card" style="max-width: 20rem;">
    <div class="card-header">Success!</div>
    <div class="card-body">
        <h4 class="card-title">File has been downloaded</h4>
        <p class="card-text">Check out "@Model.path" for the file.</p>
    </div>
</div>

<script>
    function ShowCard() {
        $("#card").fadeIn(500);
    }
</script>

<style>
    .block {
        box-sizing: border-box;
        display: block;
        max-width: 100%;
        line-height: 1.5;
        border-radius: 3px;
        border: 1px solid #2b2b2b;
    }

    .card-header, .card-title {
        text-align: center;
    }

    .card {
        position: absolute;
        right: 0;
        bottom: 60px;
        height: 300px;
    }

    .file-download {
        display: block;
    }

    .btn-download {
        width: 40%;
        vertical-align: middle;
        margin: auto;
    }
</style>